/*PALETA DE COLORES*/
/*FUENTES DE LETRA*/
/*RESOLUCION DE PANTALLA*/
/*SEPARACIONES DE MARGIN Y PADDING*/
body {
  background-color: #1D1D1B;
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: #fb6900;
  color: white;
  text-align: center;
  padding-top: 20px;
}

nav div a img {
  width: 6rem;
}

.navbar-brand {
  color: #fb6900;
}
.navbar-brand:hover {
  color: #fb6900;
}

.color {
  color: white !important;
  text-decoration: none !important;
}

.dropdown-item {
  color: white;
  background-color: #1D1D1B;
}

.dropdown-menu {
  background-color: #1D1D1B;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: #fb6900;
}

.navbar-collapse {
  justify-content: end;
}

.banner {
  background-image: url(../img/fondo-taller-scaled.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 20rem;
  padding: 3rem 1rem;
  color: white;
}

.favicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.favicon img {
  height: 3rem;
  width: 3rem;
  margin: 20px;
}

.boton-servicios {
  display: inline-block;
  justify-content: end;
  margin: 10px;
}
.boton-servicios a {
  text-decoration: none;
  color: #a9a17a;
}

footer {
  background-color: #1D1D1B;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.redes {
  display: flex;
  justify-content: center;
  list-style: none;
}
.redes img {
  width: 2rem;
  height: 2rem;
  margin: 10px;
}
.redes img:hover {
  transform: scale(2);
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.carousel-item img {
  height: 15rem;
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 25rem;
  }
}
@media (min-width: 1024px) {
  .carousel-item img {
    height: 40rem;
  }
}
.carrusel-alto {
  padding: 0;
  margin: 0;
}

.cards-padre h2 {
  color: #fb6900;
  margin: 0 40px;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
  }
}
@media (min-width: 1024px) {
  .servicios {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}
.card {
  width: 18rem;
  justify-content: center;
  text-align: center;
}
.card img {
  height: 10rem;
  width: 10rem;
}

.servicio_row {
  display: flex;
  flex-direction: row;
  text-align: start;
}

.txt_servicio {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.imagen_servicio {
  width: 40%;
  overflow: hidden;
}
.imagen_servicio img {
  width: 45rem;
  height: 40rem;
}

@media (max-width: 768px) {
  .imagen_servicio {
    display: none;
  }
  .servicio_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blanco {
  background-color: #282829;
  padding: 0;
}

.caja {
  background-color: #1D1D1B;
  margin: 0 4rem;
}
.caja .txt_servicio {
  margin: 10px;
}

.ir_arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.ir_arriba a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #3b5998;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}

.mapa {
  overflow: hidden;
}

.formulario {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}
.formulario .presupuesto {
  background-color: #282829;
  margin: 0;
  padding: 0;
  color: #fb6900;
  justify-content: center;
  width: 70%;
}
.formulario .presupuesto .col {
  margin: 3px;
}

/*# sourceMappingURL=styles.css.map */
