body{
    background-color: $color-cuarto;
    font-family: 'Montserrat', sans-serif;
}


nav div a img{
    width: 6rem;
}

.navbar-brand{
    color: $color-primario;
    &:hover{
        color: $color-primario;
    }
} 

.nav-link .dropdown-toggle:after{
    color: white;
}



.dropdown-item{
    color: white;
    background-color: $color-cuarto;
}

.dropdown-menu{
    background-color: $color-cuarto;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color: $color-primario;
} 

.navbar-collapse{
    justify-content: end;
}

.banner{
    background-image: url(../img/fondo-taller-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 20rem;
    padding: 3rem 1rem;
    color: white;
}



main{
    background-color: $color-primario;
    color: white;
    text-align: center;
    padding-top: $espacio-chico;
}


.favicon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.favicon img{
    height: 3rem;
    width: 3rem;
    margin: $espacio-chico;
}


.boton-servicios {
    display: inline-block;
    justify-content: end;
    margin: $espacio-mini;
    a{
    text-decoration: none;   
    color: $color-terciario; 
}  
}



footer {
    background-color: $color-cuarto;
    text-align: center;
    color: white;
    padding-top: $espacio-chico;
}

.redes {
    display: flex;
    justify-content: center;
    list-style: none;
}

.redes img {
    width: 2rem;
    height: 2rem;
    margin: $espacio-mini;
}

.redes img:hover{
    transform: scale(2);
}